@inject IUserService userService
@inject IProjectService projectService

@inject NavigationManager NavigationManager

<h3>Brzi pregled</h3>

<div class="row">
    <div class="col-md-4 mb-4">
        <div class="card text-bg-light h-100">
            <div class="card-body d-flex flex-column justify-content-between h-100">
                <h5 class="card-title">Ukupan broj zaposlenika</h5>
                <p class="card-text display-6">@NumberOfUsers</p>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-4">
        <div class="card text-white bg-danger h-100" @onclick="HandleLateUsersClick" style="cursor: pointer;">
            <div class="card-body d-flex flex-column justify-content-between h-100">
                <h5 class="card-title">Kašnjenja u unosu radnih dana</h5>
                <p class="card-text display-6">@LateLogIns.Count()</p>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-4">
        <div class="card text-bg-light h-100" @onclick="() => NavigateToManageProjects()" style="cursor: pointer;">
            <div class="card-body d-flex flex-column justify-content-between h-100">
                <h5 class="card-title">Broj aktivnih projekata</h5>
                <p class="card-text display-6">@NumberOfActiveProjects</p>
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter] public int NumberOfUsers { get; set; }
    [Parameter] public int NumberOfActiveProjects { get; set; }
    [Parameter] public List<string> LateLogIns { get; set; }
    [Parameter] public EventCallback OnHighlightLateUsers { get; set; }

    private async Task HandleLateUsersClick()
    {
        if (OnHighlightLateUsers.HasDelegate)
        {
            await OnHighlightLateUsers.InvokeAsync();
        }
    }

    private void NavigateToManageProjects()
    {
        NavigationManager.NavigateTo("/timeonprojects");
    }

    private void NavigateToManageLateUsers()
    {
        NavigationManager.NavigateTo("/latelogins");
    }
}

