@using Tutel.EduWork.BusinessLayer.Abstractions
@using Tutel.EduWork.BusinessLayer.DTOs

@inject IUserService userService

<div class="mb-3">
    <label for="statusFilter" class="form-label me-2">Zaposlenik:</label>
    <select id="statusFilter" class="form-select d-inline-block w-auto">
        @foreach (var user in Users)
        {
            <option value="@user.Id">@user.Name @user.Surname</option>
        }
    </select>
</div>

@code {
    [Parameter] public List<UserDTO> Users { get; set; } = new();
}
