@using Tutel.EduWork.BusinessLayer.Abstractions
@using Tutel.EduWork.BusinessLayer.DTOs
@using Tutel.EduWork.BusinessLayer.Exceptions

<EditForm Model="@workDay" OnValidSubmit="HandleValidSubmit">
    <DataAnnotationsValidator />
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-sm-2">
                <input class="form-control" type="time" @bind="workDay.WorkDayStart" />
            </div>
            <div class="col-sm-2">
                <input class="form-control" type="date" @bind="workDay.WorkDate" @oninput=CheckIfWorkDayExists />
            </div>
            <div class="col-sm-auto">
                <button type="submit" class="btn btn-primary" hidden=@workDayAlreadyExists>
                    Dodaj radni dan
                </button>
            </div>
        </div>
    </div>

    @if (!string.IsNullOrEmpty(message))
    {
        <div class="container mt-3 alert @messageClass">@message</div>
    }
</EditForm>
@inject IWorkDayService workDayService;
@inject IUserService userService
@code
{
    private DateTime WorkDayStartTime;
    private DateTime SelectedDate;

    private bool workDayAlreadyExists = false;

    private WorkDayDTO workDay = new WorkDayDTO();
    private string? message = "";
    private string messageClass = "alert-success";

    protected override void OnInitialized()
    {
        workDay.WorkDayStart = TimeOnly.FromDateTime(DateTime.Now);
        workDay.WorkDate = DateOnly.FromDateTime(DateTime.Now);
    }

    protected override async Task OnInitializedAsync()
    {
        await CheckIfWorkDayExists();
    }

    private async Task CheckIfWorkDayExists()
    {
        if (await workDayService.GetByUserIdWorkDateAsync((await userService.GetAllAsync())[0].Id, workDay.WorkDate) == null)
        {
            messageClass = "alert-warning";
            message = $"Još niste unijeli radni dan za datum: {workDay.WorkDate}";
            workDayAlreadyExists = false;
        }
        else
        {
            message = "";
            workDayAlreadyExists = true;
        }
    }

    private async Task HandleValidSubmit()
    {
        workDay.UserId = (await userService.GetAllAsync())[0].Id;
        Console.WriteLine(workDay.UserId);
        Console.WriteLine(workDay.WorkDayStart);
        Console.WriteLine(workDay.WorkDate);
        try
        {
            await workDayService.AddAsync(workDay);
            messageClass = "alert-success";
            message = "Radni dan je uspješno dodan.";
            workDayAlreadyExists = true;
        }
        catch (DuplicateInsertException ex)
        {
            message = ex.Message;
            messageClass = "alert-danger";
            workDayAlreadyExists = false;
        }
        catch (Exception ex)
        {
            message = "Dodavanje radnog dana nije bilo uspješno.";
            messageClass = "alert-danger";
            workDayAlreadyExists = false;
        }
    }
}

