<a href="#" @onclick="@(() => GoToTimeSlices(WorkDayId))">Kliknite ovdje za dodavanje radnih sesija.</a>

@inject NavigationManager NavigationManager;
@code {

    [Parameter]
    public int WorkDayId { get; set; }

    private void GoToTimeSlices(int workDayId)
    {
        NavigationManager.NavigateTo($"/timeslices/{workDayId}");
    }
}
