@page "/timeoff"

@attribute [Authorize]

@using Microsoft.AspNetCore.Authorization
@using Tutel.EduWork.Client.Components.TimeOff

<PageTitle>TimeOff</PageTitle>

<h3>Time off</h3>

<TimeOffList></TimeOffList>

@code {

}
